:root {
    --max-width: calc(97.5vw - 24px);
    --vertical-margin: calc((100vw - var(--max-width))/2.75);
    --col: 2.12766%;
    --font-size-l: 3vmax;
    --font-size-m: calc(var(--font-size-l)/1.5);
    --light-gray: #f0f0f0;
    --black: rgba(0, 0, 0, 0.9);
}

* {
    box-sizing: border-box;
}

.cursor {
    content: "";
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(Images/mouse-hover-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: 0.5s cubic-bezier(.28, .07, .75, 1) transform, 0.2s ease-in-out opacity;
    pointer-events: none;
}

.cursor.active {
    transform: scale(1);
    opacity: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    background-color: rgb(252, 252, 252);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.header {
    height: 100px;
}

#logo {
    position: relative;
    top: 30px;
    left: 30px;
    width: 70px;
    cursor: pointer;
}

.header-divider {
    position: relative;
    top: 40px;
}

h1,
h2,
h3,
h4,
p {
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    margin: 0;
}

h1 {
    font-size: 8vmax;
}

h2 {
    font-size: 3vmax;
}

h3 {
    font-size: 2vmax;
}

h4 {
    font-size: 1vmax;
}

p {
    font-size: 16px;
}

.hero {
    margin: 150px 300px 200px 100px;
}

.item-wrapper {
    margin: 200px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.project-title {
    position: relative;
    margin-left: 30%;
    top: 50%;
    text-transform: uppercase;
}

.vl {
    border-left: 1px solid rgb(87, 87, 87);
    height: 40vw;
    margin: 0 30px 0 0;
}

.item {
    width: 28%;
    height: 40vw;
    display: flex;
    margin: 5vw 2vw;
}

.clickable-item:hover {
    cursor: none;
}

.item-number {
    position: relative;
    margin-right: 5vw;
    width: 20%;
    line-height: normal;
}

.item-number h1 {
    margin: 0;
    position: absolute;
    bottom: 0;
}

.image-and-title {
    margin-right: 30px;
    width: 80%;
    padding-top: 0px;
}

.img-hover-zoom {
    height: 70%;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}


/* [2] Transition property for smooth transformation of images */

.img-hover-zoom img {
    transition: transform 1s ease;
}


/* [3] Finally, transforming the image when container gets hovered */

.img-hover-zoom:hover img {
    transform: scale(1.05);
}

.item-title {
    margin: 0;
}

.introduction {
    margin: 0px 300px 100px 100px;
}

.footer {
    margin: 2rem;
    text-transform: uppercase;
    height: 3vmax;
}

.footer-left {
    float: left;
    display: inline;
}

.footer-right {
    float: right;
    display: inline;
}


/* 
a {
    position: relative;
} */


/* a::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
} */


/* 
a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
} */

.page-body {
    margin: 50px 100px;
}

.icon-title {
    display: flex;
}

.back-logo {
    margin-top: 2px;
}

.project-title-wrapper {
    display: inline;
    margin-left: 20vw;
}

.project-subhead {
    text-transform: uppercase;
}

.project-heading {
    margin-top: 0;
}

.project-introduction {
    width: 60%;
    margin: 100px auto;
}